
.quote { 
  transform: translateZ(0);
  
  blockquote {
    background-color: #ffffff;
    box-shadow: -5px -4px 25px rgba(0, 0, 0, .3);
    font-size: 1.5em;
    padding: 1.5em;   
  }

  blockquote:before {
    color: #cccccc;
    content: open-quote;
    font-size: 6em;
    left: 0;
    line-height: .1em;
    margin-right: .25em;
    position: absolute;  
    top: .2em;
    vertical-align: -.4em;

    cite {
      bottom: -2em;
      left: 7em;
      position: absolute;         
    }

    cite:before {
      content: '\2014 \2009';
    }
  }

  .thumb {
    background: url('/resources/Pictures/officersandboards/adam.png') no-repeat center center;
    background-size: 100% 100%;
    border: 5px solid #ffffff;
    border-radius: 50%;
    bottom: -4em;
    box-shadow: inset 1px 1px 4px rgba(0, 0, 0, .5), 0 2px 3px rgba(0, 0, 0, .6);
    height: 100px;
    left: -1em;
    position: absolute;
    width: 100px;
  }
}


